*{
    font-family: SansSerif;
    margin: 0;
    padding: 0;
    color: white;

}
header{
    background-color:#433310;
    text-align: center;
    font-size: 26px;
    display: block;
    float: left;
    padding-top:0px;
    padding-bottom: 25px;
    font-family: SansSerif;
    text-decoration: none;

}
span{
    display: inline;
    padding: 50px;
    text-decoration: none;
}
a{
    text-decoration: none;
}

header.logo{
   width: 100%;
}

footer {
    background-color: #3D4C31;
    padding: 80px;
    text-align: center;
    font-size: 26px;
}
.contact-right{
    float: right;

}
input{
    padding: 9px;

}
.contact-left{
    float: left;
}
button{
    color: #3D4C31;
    padding: 10px;
}


