/* ALL PAGES, ONLY USE GENERIC STUFF LIKE PAGE WIDTH OR FONT FAMILY */


/* HEADER.HTML */

header{
    font-family: sans-serif;
}

/* NAVBAR */
nav{
    border-bottom: 2px solid #facd8a;
    border-top: 2px solid #facd8a;
}

.navbar-brown .navbar-nav .nav-link{
    color: #fff !important;
    font-size: 25px;
    opacity: 0.8;
}

.bg-brown {
    background-color: #3D4C31 !important;
}

/* OTHER GENERIC STUFF? */

a {
    text-decoration: none;
    color: white;
}

/* FOOTER.HTML */

footer {
    background-color: #3D4C31 !important;
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;
}

footer .container .row{
    opacity: 0.9;
}

/* SOCIAL MEDIAS */

.social-menu {
    display: flex;
    list-style-type: none;
    padding-left: 0 !important;
}

.social-menu i {
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
}

.social-menu i:before {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.social-menu a {
    text-decoration: none;
}

.fa-facebook {
    background:#3b5998;
}

.fa-instagram {
    background:#8a3ab9;
}

.social-menu i:hover {
    opacity: 0.8;
}

/* NEWSLETTER */

.footerbutton{
    padding: .65rem 1.5rem .65rem !important;
}

.footerform .form-control{
    background: #DADADA !important;
    width: 100% !important;
    padding-top: 4.6px;
    padding-bottom: 4.6px;
    border: 2px solid #facd8a !important;
}

.footerform .form-control:focus{
    border: 2px solid #1266f1 !important;
    color: black;
}

