
body{
    background-color: #303030;
}
#wrapper{
    background-color: #303030;
}

.velkomst-section h2{
    font-family: sans-serif;
    color: white;
    background-color: #303030;
    font-size: 5em;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 50px;
    margin-bottom: 0 !important;
}


.velkomst-section p{
    font-family: sans-serif;
    color: white;
    background-color: #303030;
    font-size: 2em;
    text-align: center;
    padding-bottom: 7cm;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0 !important;
}


/* Vertical spacing between 4 main images */
.container .row .col-6{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.række1-billede1{
    font-family: 'Quintessential', cursive;
    background-image: url("../image/natmedhunde.jpg");
    background-size: 100% 500px;
    width: 100%;
    height: 500px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #facd8a;
}
.række1-billede2{
    font-family: 'Quintessential', cursive;
    background-image: url("../image/tyson.jpg");
    background-size: 100% 500px;
    width: 100%;
    height: 500px;
    float: right;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #facd8a;
}
.række2-billede1{
    font-family: 'Quintessential', cursive;
    background-image: url("../image/labarsorthvid.jpg");
    background-size: 100% 500px;
    width: 100%;
    height: 500px;
    float: left;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #facd8a;
}
.række2-billede2{
    font-family: 'Quintessential', cursive;
    background-image: url("../image/labar.jpg");
    background-size: 100% 500px;
    width: 100%;
    height: 500px;
    float: right;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #facd8a;
}
.række1-billede1 a{
    color: white;
    font-size: 75px;
    position: relative;
    top: 45%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
.række1-billede2 a{
    color: white;
    font-size: 75px;
    position: relative;
    top: 45%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
.række2-billede1 a{
    color: white;
    font-size: 75px;
    position: relative;
    top: 45%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}
.række2-billede2 a{
    color: white;
    font-size: 75px;
    position: relative;
    top: 45%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}










