.calendar {
    width: 80%;
    margin-left: 10%;
    margin-top: 60%;
}

.calendarTable {
    width: 100%;
    border: 1px solid black;
}

.calendarTable thead tr th {
    background: black;
    border-bottom: 1px solid black;
    padding: 20px 0px;
    color: white;
}

.calendarTable tr td {
    text-align: center;
    padding: 20px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #dadada;
}

/*
prev og next knapperne
*/

.calendarBtns {
    padding: 10px 0;
    width: 100%;
}

.calendarBtns button {
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.calendarDiv {
    display: none;
}

#calendarTable_1 {
    display: block;
}

/*
modal
 */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
}